.auth .form-control {
    color: #fff;
}

.table-click {
    cursor: pointer;
}


.flash-message {
    transition: opacity 1s ease-out;
    opacity: 1;
}

.flash-message.hide {
    opacity: 0;
}


.toast-success {
    background-color: #006b00 !important;
}


.card .card-header {
    background-color: #fff !important;
}

.image {
    width: 100%;
    height: 300px;
    border: 1px solid #ced4da;
    position: relative;
}

.image button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* profile */
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-profile-header {
    background: linear-gradient(to right, #007bff, #6c757d);
    color: #fff;
}

.social-icons a {
    font-size: 20px;
    margin-right: 15px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.list-unstyled li{
    margin-bottom: 10px;
}


/* side -menu */
.side-menu .active{
    background: #04a2b3;
    color: #fff;
}

.side-menu .nav-item .nav-link:hover{
    background: #04a2b3;
    color: #fff;
}