/* 
<!-- developed by : Sabya Roy -->
    <!-- contact developer : https://www.facebook.com/sabya.info/ --> */

.auth .form-control {
    color: #fff;
}

.table-click {
    cursor: pointer;
}


.flash-message {
    transition: opacity 1s ease-out;
    opacity: 1;
}

.flash-message.hide {
    opacity: 0;
}


.toast-success {
    background-color: #006b00 !important;
}


.card .card-header {
    background-color: #fff !important;
}

.image {
    width: 100%;
    height: 300px;
    border: 1px solid #ced4da;
    position: relative;
}

.image button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* profile */
.bg-profile-header .image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.image-uploader {
    position: relative;
}

.image-uploader .uploader {
    position: absolute;
    background: #ffffff8e;
    color: #000;
    width: 100%;
    padding: 5px 10px;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.bg-profile-header .image .change-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 100%;
}

.bg-profile-header {
    background: #505d69;
    color: #fff;
}

.social-icons a {
    font-size: 20px;
    margin-right: 15px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.list-unstyled li {
    margin-bottom: 10px;
}


/* side -menu */
.side-menu .active {
    background: #04a2b3;
    color: #fff;
}

.side-menu .nav-item .nav-link:hover {
    background: #04a2b3;
    color: #fff;
}